<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>예시</title>

	<!-- CSS -->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900}" rel="stylesheet" />
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
</head>

<div class="container mt-5" th:fragment="room">
					<div class="card text-center">
						<div class="card-header bg-primary text-white">
							방 생성 완료
						</div>
						<div class="card-body">
							<h5 class="card-title">방 코드</h5>
							<p class="display-4" th:text="${roomCode}">XXXX</p>
							<p class="card-text">아래 방 코드를 참가자들과 공유하세요.</p>
							<button class="btn btn-outline-primary" onclick="copyRoomCode()">코드 복사</button>
						</div>
						<div class="card-footer text-muted">
							참가자가 접속할 때까지 대기 중...
						</div>
						<div>
							<h4>참가자 목록</h4>
							<ul>
								<li th:each="participant : ${participants}" th:text="${participant.user.username}"></li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- JS -->
					<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
					<script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
					<script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
					<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
					<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
					<script th:src="@{/js/sb-admin-2.min.js}"></script>
					<script>
						function copyRoomCode() {
							const code = document.querySelector('.display-4').innerText;
							navigator.clipboard.writeText(code).then(() => {
								alert('방 코드가 복사되었습니다!');
							});
						}
					</script>