<div class="timeline-container" th:fragment="timeline">
	<input type="hidden" id="hiddenTargetUserId" th:value="${targetUserId}">
	<div class="d-flex align-items-center mb-5">
		<a th:href="${targetProfileId != null} ? @{/profile/{id}(id=${targetProfileId})} : @{/profile}" 
		   class="text-decoration-none text-gray-800">
		    <i class="fas fa-arrow-left fa-2x mr-3"></i>
		</a>
		<h1 class="h3 mb-0 text-gray-800 font-weight-bold">타임라인</h1>
	</div>

	<div class="timeline-section" id="timelineList">
	</div>

	<div id="loadingSpinner" class="text-center mt-4" style="display: none;">
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>

	<div class="text-center mt-4" id="loadMoreBtnContainer">
		<button class="btn btn-light btn-icon-split btn-sm" onclick="loadNextPage()">
			<span class="icon text-gray-600"><i class="fas fa-redo"></i></span>
			<span class="text">이전 활동 더 불러오기</span>
		</button>
	</div>
</div>