<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow d-flex justify-content-center"
	th:fragment="topbar2">

	<a class="d-none d-sm-flex align-items-center text-decoration-none" th:href="@{/}">
		<div class="rotate-n-15">
			<img src="/img/app_icon.png" style="width: 35px; height: 35px;">
		</div>
		<div class="mx-2 font-weight-bold text-success" style="font-size: 2.1rem; font-family: 'Fredoka', sans-serif;">
			Quinect
		</div>
	</a>

	<ul class="navbar-nav ml-auto">

		<li class="nav-item dropdown no-arrow d-sm-none"></li>
		<li class="nav-item dropdown no-arrow mx-1">
		    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" 
		       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		        <i class="fas fa-envelope fa-fw"></i>
		        <span id="messageBadge" class="badge badge-danger badge-counter"
		              style="display:none;">5+</span>
		    </a>
		    
		    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow"
		         aria-labelledby="messagesDropdown" style="width: 350px;">
		        <h6 class="dropdown-header">Messages</h6>
		        
		        <!-- ⭐ JavaScript로 동적으로 채워질 부분 -->
		        <div id="messageItems"></div>
		        
		        <a id="noMessagesMessage" class="dropdown-item text-center small text-gray-500">
		            새로운 메시지가 없습니다.
		        </a>
		    </div>
		</li>
		
		<li class="nav-item dropdown no-arrow mx-1">
			<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-bell fa-fw"></i>

				<span id="alertBadge" class="badge badge-danger badge-counter"
					th:text="${unreadCount != null && unreadCount > 0 ? unreadCount + '+' : ''}"
					th:style="${unreadCount != null && unreadCount > 0 ? '' : 'display:none;'}">
				</span>
			</a>

			<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
				aria-labelledby="alertsDropdown">
				<h6 class="dropdown-header">
					Alerts Center
				</h6>

				<div id="notificationItems">

					<a th:each="noti : ${notifications}" class="dropdown-item d-flex align-items-center" href="#"
						th:onclick="readNotification([[${noti.id}]], [[${noti.notification.notificationType == 'ACHIEVEMENT' ? '/achievement' : '#'}]], event)">

						<div class="mr-3">
							<div class="icon-circle"
								th:classappend="${noti.notification.notificationType == 'ACHIEVEMENT' ? 'bg-success' : 'bg-primary'}">
								<i class="fas text-white"
									th:classappend="${noti.notification.notificationType == 'ACHIEVEMENT' ? 'fa-trophy' : 'fa-bell'}"></i>
							</div>
						</div>

						<div>
							<div class="small text-gray-500"
								th:text="${#temporals.format(noti.notification.createdAt, 'yyyy-MM-dd HH:mm')}">
								2023-12-01 12:00
							</div>
							<span class="font-weight-bold" th:text="${noti.notification.content}">
								알림 내용입니다.
							</span>
						</div>
					</a>

					<a th:if="${#lists.isEmpty(notifications)}" id="noAlertsMessage"
						class="dropdown-item text-center small text-gray-500" href="#">
						새로운 알림이 없습니다.
					</a>

				</div>

				<a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
			</div>
		</li>
		<div class="topbar-divider d-none d-sm-block"></div>

		<li class="nav-item dropdown no-arrow">
			<a class="nav-link dropdown-toggle" href="#" id="sidebarToggle" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<span class="mr-2 d-none d-lg-inline text-gray-600 small"
					th:text="${user.userProfile.username}">사용자명</span>
				<img class="img-profile rounded-circle"
					th:src="${user.userProfile.profileImage != null ? user.userProfile.profileImage : '/img/undraw_profile.svg'}"
					style="object-fit: cover;">
			</a>

		</li>

	</ul>
</nav>