<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<title>Quinect - 업적</title>

	<!-- CSS -->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
	<link th:href="@{/css/sb-admin-2.css}" rel="stylesheet" />
	<link th:href="@{/css/index.css}" rel="stylesheet" />

</head>

<body id="page-top">
	<div id="sidebarModalBackdrop"></div>
	<div id="wrapper">

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">

				<!-- Topbar -->
				<div th:replace="~{fragments/topbar2 :: topbar2}"></div>

				<!-- Main Content -->
				<div th:replace="~{layout/achievement :: achievement}"></div>

			</div>

			<!-- Footer -->
			<div th:replace="~{fragments/footer :: footer}"></div>
		</div>
		
		<!-- Popup -->
		<div th:replace="~{layout/friends :: friends}"></div>
		
		<!-- Sidebar -->
		<div id="sidebarModal" class="sidebar-modal" style="display:none;">
			<div th:replace="~{fragments/sidebar :: sidebar}"></div>
		</div>
	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- JS -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script th:src="@{/js/sb-admin-2.js}"></script>
	<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
	<script th:src="@{/js/demo/chart-area-demo.js}"></script>
	<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- 친구창 모달 -->
	<script th:src="@{/js/friends-modal.js}"></script>
	<!-- 알림 JS-->
	<script src="/js/notification.js"></script>



	<!--웹소켓-->
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>

</body>
</html>