<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Quinect - 회원가입</title>

	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
	<link th:href="@{/css/signup.css}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">

</head>

<body>

	<div class="login-container text-center">

		<div class="mb-5 pb-3">
			<div class="d-flex align-items-center justify-content-center">
				<div class="rotate-n-15">
					<img src="/img/app_icon.png" style="width: 50px; height: 50px;">
				</div>

				<div class="ml-3 font-weight-bold text-success"
					style="font-size: 3.5rem; font-family: 'Fredoka', sans-serif;">
					Quinect
				</div>
			</div>
		</div>

		<div class="mb-4">
			<h1 class="h3 text-gray-900 font-weight-bold mb-2">계정을 생성하세요!</h1>
			<p class="text-gray-600">간단한 정보 입력으로 바로 시작할 수 있습니다.</p>
		</div>

		<form class="user" th:action="@{/register}" method="post">

			<div class="form-group">
				<input type="text" class="form-control form-control-user w-75 mx-auto" id="exampleInputName"
					placeholder="닉네임" name="username" required>
			</div>

			<div class="form-group">
				<input type="email" class="form-control form-control-user w-75 mx-auto" id="email" placeholder="이메일 주소"
					name="email" required onblur="checkEmail()">
				<span id="emailCheckMsg" class="small w-75 mx-auto d-block mt-1 text-center"></span>
			</div>

			<div class="form-group">
				<input type="password" class="form-control form-control-user w-75 mx-auto" id="password"
					placeholder="비밀번호" name="password" required>
			</div>

			<div class="mb-4"></div>

			<button type="submit" class="btn btn-success btn-user w-75 mx-auto d-block font-weight-bold"
				style="font-size: 1.3rem; padding-top: 0.5rem; padding-bottom: 0.5rem;">
				계정 생성하기
			</button>
		</form>

		<hr class="w-75 mx-auto my-4">

		<div class="text-center">
			<div class="small">이미 계정이 있으신가요?</div>
			<a class="small font-weight-bold text-primary" th:href="@{/login}">로그인</a>
		</div>
	</div>
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script th:src="@{/js/sb-admin-2.min.js}"></script>
	<script th:src="@{/js/signup.js}"></script>
</body>

</html>