<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>방 생성</title>
</head>
<body>
    <h2>방 생성</h2>
	<form method="post" th:action="@{/waitroom/create}">
        <input type="hidden" name="hostUserId" value="1" /> <!-- 로그인 연동 시 동적으로 -->
        <label>방 유형:
            <select name="roomTypeCode" required>
                <option value="" disabled selected hidden>유형 선택</option>
                <option th:each="roomType : ${roomTypes}"
                        th:value="${roomType.code}"
                        th:text="${roomType.name}">
                </option>
            </select>
        </label>
        <button type="submit">생성</button>
    </form>
</body>
</html>
